@use "../../foundation/_mixin.scss" as bp;

.p-top__reason {
  padding-top: 120px;
  padding-bottom: 120px;
}

.p-top__reason-2 {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--skin);
  &-inner {
    max-width: 1140px;
    padding-inline: 104px;
    margin-inline: auto;
  }
}

.p-top__strength {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--skin);
}

