@use "./../../foundation/_mixin.scss" as bp;

.c-btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-btn {

}

.c-btn__cta {
  width: 400px;
  padding: 18px 32px 18px;
  background: #fff;
  border-radius: 31px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  color: var(--dark-orange);
  font-size: 18px;
  font-weight: 700;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  transition: opacity 0.3s;
  @include bp.breakpoint('tablet') {
    width: 240px;
    font-size: 16px;
  }
  &::before {
    content: "";
  }
  & .icon {
    width: 24px;
    justify-self: end;
    @include bp.breakpoint('tablet') {
      width: 20px;
    }
  }
  &:hover {
    opacity: 0.5;
  }
}