@use "./../foundation/_mixin.scss" as bp;

.l-footer {
  &__inner {
    background: var(--blue);
    padding-block: 80px;
    @include bp.breakpoint('tablet') {
      padding-top: 40px;
    }
  }
  &__logo {
    width: 192px;
    margin-inline: auto;
  }
  &__nav {
    margin-top: 40px;
    max-width: 1085px;
    padding-inline: 27px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    @include bp.breakpoint('tablet') {
      flex-direction: column;
      padding-inline: 21px;
    }
  }
  &__nav-list {
    > * + * {
      margin-top: 24px;
      @include bp.breakpoint('tablet') {
        margin-top: 0;
      }
    }
  }
  &__nav-link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.05em;
    @include bp.breakpoint('tablet') {
      margin-top: 8px;
    }
    &:hover {
      .l-footer__nav-text {
        opacity: 0.5;
      }
    }
  }
  &__nav-icon {
    margin-top: -4px;
  }
  &__nav-text {
    transition: opacity 0.3s;
  }
  &__copy {
    font-size: 14px;
    text-align: center;
    padding-block: 6px;
  }
}